body {
	background-color: rgba(255, 178, 102, 0.23);
	font-family: sans-serif;
	margin: 0;
}

#container {
	width: 1400px;
	margin: 0 auto;
	padding: 0.25rem 1rem;
	background-color: #fff;
}

h1 {
	font-weight: normal;
	font-size: 2.0rem;
}

#ide {
	display: flex;
	align-items: center;
}

#editor {
	width: 666px;
	height: 666px;
}

#output {
	border: 1px solid #ffb266;
}

#execute {
	font-size: 1.3rem;
	margin: 0.5rem;
	padding: 0.25rem 0.5rem;
	background-color: #ffb266;
	border: 1px solid #232323;
	border-radius: 7px;
}

p#attribution {
	margin: 0;
	text-align: right;
}

p#attribution img {
	height: 75px;
}
